/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */
 .posts{
   margin: 80px 200px 20px;
   .post{
     border: 1px solid #efefef;
     margin: 60px 0;
     border-radius: 3px;
     .user{
       border-bottom: 1px solid #efefef;
       display: flex;
       .avatar{
         width: 30px;
         margin: 8px;
         .image{
           width: 100%;
           border: 1px solid #efefef;
           border-radius: 50%;
         }
       }
       .email{
         padding-top: 13px;
         color: #262626;
         font-size: 14px;
         font-weight: 600;
       }
     }
     .main-image{
       width: 100%;
       border-bottom: 1px solid #f4f4f4;
     }
     .body{
       padding: 20px;
     }
   }
 }

 .follow-button {
  text-transform: uppercase;
  border-color: #4090db;
  color: #4090db;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #2D6396;
    color: #2D6396;
  }
}

.unfollow-button {
  text-transform: uppercase;
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}
